/*    font-family: "Playfair Display", serif;
      font-family: "Poppins", sans-serif;        */


/* VARIABLES GLOBALES */

:root {
    /* Color palette */
    --black: #2E2E2E;
    --orange: #fc4851;
    --blue: #add6cf;
    --yellow: #F2E1C2;
    --white: #fffdfb;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

input[type="checkbox"]:checked {
    color: var(--orange);
}

/* NAVBAR */

nav {
    height: 12vh;
    background-color: var(--orange);
    font-family: "Poppins", sans-serif;
    font-size: large;
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.27);

    a {
        color: white !important;
        font-size: large;

        &:hover {
            color: rgba(255, 255, 255, 0.51) !important;
        }
    }


    .logo1 {
        width: 7rem;
        margin-top: 2%;
    }


    .show {
        background: var(--white);
        border-radius: 20px;

        a {
            color: var(--orange) !important;
        }
    }

    @media screen and (max-width: 994px) {
        .logo1 {
            width: 5rem;
        }

    }

}


/* ACCUEIL */

.mainAccueil {
    background-color: var(--yellow);
    margin-bottom: -15px;
}

.generator {
    background: url(../img/accueil.jpg) center/cover;
    min-height: 100vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .card {
        max-width: 40%;
        min-height: 70vh;
        background-color: #add6cfb5;
        position: relative;
        border-radius: 20px;
        border: none;
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.27);


        .days {
            display: flex;
            justify-content: center;
            align-items: center;

            .days input[type=button]:hover {
                color: black;
                font-weight: bold;
                background-color: transparent !important;
            }

            .days span {

                font-size: 15px;
                color: black;
            }

            .days input[type=button],
            input[type=text] {
                display: inline-block;
                width: 50px;
                background-color: transparent !important;
                outline: none;
                border: none;
                text-align: center;
                cursor: pointer;
                padding: 0px;
                color: black;
                height: 33px;
                font-family: 'Open Sans';
            }

            .minusBtn,
            .plusBtn {
                background-color: transparent;
                outline: none;
                border: none;
            }
        }

        .people,
        .days {

            input[type="range"] {
                -webkit-appearance: none;
                appearance: none;
                background: transparent;
                cursor: pointer;
                width: 50%;
            }

            input[type="range"]:focus {
                outline: none;
            }

            /***** Chrome, Safari, Opera and Edge Chromium styles *****/

            input[type="range"]::-webkit-slider-runnable-track {
                background-color: #E7F1EF;
                border-radius: 0.5rem;
                height: 0.5rem;
            }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                margin-top: -4px;
                background-color: var(--orange);
                height: 1rem;
                width: 1rem;
                border-radius: 100%;
            }

            input[type="range"]:focus::-webkit-slider-thumb {
                border: 1px solid #E7F1EF;
                outline: 3px solid #E7F1EF;
                outline-offset: 0.125rem;
            }

            /******** Firefox styles ********/
            input[type="range"]::-moz-range-track {
                background-color: #E7F1EF;
                border-radius: 0.5rem;
                height: 0.5rem;
            }

            input[type="range"]::-moz-range-thumb {
                border: none;
                background-color: var(--orange);
                height: 1rem;
                width: 1rem;
                border-radius: 100%;
            }

            input[type="range"]:focus::-moz-range-thumb {
                border: 1px solid #E7F1EF;
                outline: 3px solid #E7F1EF;
                outline-offset: 0.125rem;
            }
        }

        .check {
            label:hover {
                cursor: pointer;
            }

            input[type="radio"]:checked {
                background-color: var(--orange);
            }
        }


        .btnOptions {
            box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
            &:hover {
                background-color: rgba(255, 255, 255, 0.562) !important;
                border: 1px solid var(--black);
            }
        }

        .options {
            display: none;


            input[type=checkbox] {
                display: none;
            }

            .label {
                border-radius: 5px;
                display: inline-block;
                padding: 3px;
                transition: 0.5s;
                background-color: #E7F1EF;
                cursor: pointer;
                box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.15);
            }

            input[type=checkbox]:checked+.label {
                background: var(--orange);
                color: #fff;
            }
        }

        .show {
            display: block;
        }

        input[type="submit"], .btnRedirection {
            background-color: var(--orange);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: -20px;
            box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.27);

            &:hover {
                zoom: 1.2;
            }

        }

    }

    @media screen and (max-width: 994px) {

        .card {
            max-width: 70%;
            margin: 10vh 0;
        }

    }
}

.presentation {
    padding: 100px 0;
}


/*   IDENTIFICATION   */

#inscription {
    background-color: var(--yellow);

    input {
        background-color: var(--yellow);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--black);
    }
}

#connexion {
    background-color: var(--blue);

    input {
        background-color: var(--blue);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--black);
    }
}

#inscription,
#connexion {

    p {
        margin-top: 30px;
    }

    .champs {
        position: relative;
        margin-bottom: 1.25em;

        input {
            border: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.264);
            outline: none;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--black);
            display: flex;
            align-items: center;
            cursor: text;
            transition: .3s ease-in-out;
        }

        i:hover {
            cursor: pointer;
        }

        input,
        label {
            font-size: 1em;
            width: 90%;
            height: 55px;
        }

        input:focus+label {
            color: var(--black);
            font-size: .75em;
            top: -25px;
            pointer-events: none;
        }

        input:focus {
            border-bottom: 1px solid var(--black);
        }

    }

    button {
        background-color: var(--orange) !important;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
    }

    .showPassIdCon {
        label:hover {
            cursor: pointer;
        }

        input[type="checkbox"] {
            /* visibility: hidden; */
            display: none;
        }
    }

}

/*   BACK-OFFICE */

#users {

    button:hover {
        background-color: #add6cfae;
        color: white;
    }

    th,
    tr,
    td {
        background-color: var(--yellow) !important;
    }

    .btnRole {
        background-color: var(--orange);
        color: white;
    }
}

#recipeTable {

    max-width: 100%;
    overflow-x: auto;
    transition: 0.5s ease-in-out;

    th,
    tr,
    td {
        background-color: var(--yellow) !important;
    }
}

#users,
#recipeTable,
#categoriesTable,
#ingredientsTable {

    .bi-pen-fill {
        color: #2e2e2ec2;
    }

    .bi-trash-fill {
        color: var(--orange);
    }

}

.btnAdd {
    background-color: white;
    color: var(--black);
    border: none;

    &:hover {
        background-color: var(--yellow);
        color: var(--black);
    }
}

.gestionRecipes {
    background-color: var(--yellow) !important;

    h2 {
        margin-top: 100px;

    }
}

#ingredientsContainer {
    background-color: var(--yellow) !important;

    input {
        background-color: var(--yellow) !important;
    }
}






/*   PROFIL UTILISATEUR  */

#profil,
#dashboard {

    background-color: var(--yellow);


    .avatar-img {
        width: 200px;
        height: 200px;
        border: 1px solid var(--black);
        border-radius: 100%;


    }

    .submitImg {
        padding: 3px 5px;
        border: none;
        background-color: transparent;
        color: var(--orange);
    }

    .onglets {
        transition: 1s ease-in-out;

        .onglet {
            background-color: var(--orange);
            margin: 50px;
            padding: 10px 20px;
            text-align: center;
            border-radius: 5px;

            &:hover {
                transform: scale(1.05);
            }

            a {
                text-decoration: none;
                color: white;

            }
        }
    }



}

.informations {

    .champs {
        position: relative;
        margin-bottom: 1.25em;

        input {
            border: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.264);
            outline: none;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--black);
            display: flex;
            align-items: center;
            cursor: text;
            transition: .3s ease-in-out;
        }

        i:hover {
            cursor: pointer;
        }

        input,
        label {
            font-size: 1em;
            width: 90%;
            height: 55px;
        }

        input:focus+label {
            color: var(--black);
            font-size: .75em;
            top: -25px;
            pointer-events: none;
        }

        input:focus {
            border-bottom: 1px solid var(--black);
        }

        p {
            font-size: 10px;
        }
    }

    button {
        background-color: var(--yellow);
        color: var(--black);
    }
}

.userFav {
    min-height: 50vh;
}






/*   LES RECETTES */

#lesRecettes {
    background-color: var(--yellow);
    min-height: 100vh;

    .recettesDiv {
        margin-top: 100px;

        a {
            color: var(--black);
        }

        .btn:hover {
            background-color: var(--orange);
            color: white !important;
            border: none;

            a {
                color: white;
            }
        }
    }

    .tag {
        border-radius: 20px;
        padding: 2px 8px;
        background-color: var(--blue);
        color: white;
        margin: 5px;
    }

    .favParent {
        transition: 1s ease-in-out;

        .btn:hover {
            background-color: var(--orange);
            color: white !important;
            border: none;
        }

        .iconFav:hover {
            color: var(--orange) !important;
        }
    }
}


#menus {

    background: url(../img/menusBg.jpg) center/cover fixed;
}


#showRecipe {
    /* border-radius: 50px; */
    margin-top: 10vh;

    .iconFav:hover {
        color: var(--orange) !important;
    }


    @media screen and (max-width: 650px) {
        
        ul{
            flex-direction: column;
        }

        .titleResponsive{
        justify-content: center !important;    
        }

    }

}

.menuHeader {
    background-color: var(--yellow);
    margin-top: 10vh;
    min-height: 15vh;

    button {
        background-color: var(--blue);
    }
}

#menus {

    .titreMenu {
        border-radius: 50px;
        background-color: var(--orange);
    }

    a:hover {
        color: var(--orange);
    }
}

#containerList {

    background: url(../img/liste.jpg) center/cover;
    min-height: 100vh;
    display: flex;
    margin-top: 12vh;
    flex-direction: column;
    align-items: center;
    border: none;
    color: var(--black);
    padding: 2rem 0;

    form {
        margin: 5rem 0;
    }

    form input {
        width: 250px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 30px;
        padding: 0 1rem;
        border: none;
        outline: none;
        font-size: 1.3rem;
        background-color: var(--orange);
        color: var(--white);
        box-shadow: inset 0px 1px 6px 1px rgba(69, 69, 69, 0.45);
        transition: 0.7s;
    }

    form input::placeholder {
        color: var(--white);
        font-size: small;
        font-style: italic;

    }

    form input:focus {
        border: 3px solid var(--white);
    }

    ul li {
        color: var(--black);
        list-style: none;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .btnList {
        width: 250px;
        height: 50px;
        background-color: transparent;
        color: var(--black);
        border-radius: 30px;
        box-shadow: 0px 2px 8px 0px #3f3f3f;
    }

    .btnList:hover {
        background-color: var(--orange);
        color: var(--black);

    }

    

}
@media screen and (max-width: 994px) {
        #containerList {

            background-image: url(../img/liste.jpg);
            background-size: 150%;
            height: 50vh;
        }

    }
@media screen and (max-width: 650px) {
        #containerList {

            background-image: url(../img/liste.jpg);
            background-size: 180%;
            height: 30vh;
        }

    }
@media screen and (max-width: 490px) {
        #containerList {

            background-image: url(../img/liste.jpg);
            background-size: 230%;
            height: 20vh;
        }

    }


/* FOOTER */

footer {
    min-height: 30vh;
    background-color: var(--orange);
    display: flex;
    color: white;

    .logo2 {
        width: 20rem;
        margin-top: -80px;
    }

    a {
        color: white;
        font-size: large;

        &:hover {
            color: rgba(255, 255, 255, 0.51);
        }
    }

    @media screen and (max-width: 768px) {

        .logo2 {
            width: 10rem;
        }


    }
}